*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body{
    background: url("../image/fond.jpg") no-repeat center center fixed;
    background-size: cover;
    height:700px;
}

header{
    height:200px;
}

.top{
    display: flex;
    font-size: 20px;
    height: 60px;
	background-color: rgba(109, 109, 109, 0.34);
}

.Menu{
    width: 46%;
}
.nom{
    padding-top: 20px;
    width: 50%;
    color: #9748d3;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.logo{
    padding-top: 2px;
    width: 4%;
}


.Bouton-Menu {
    background-color: rgb(223, 135, 235);
    color: white;
    border: none;
    padding:20px;
}
.Bouton-Menu:hover {
    background-color: rgb(123, 8, 129);
}

.Sous-Menu {
    display: none;
    background-color: rgb(223, 135, 235);
    width: 105.5px;
}
.sous-sous-menu {
    color: white;
    display: block;
    width: 105.5px;

}
.Menu:hover .Sous-Menu {
    display: block;
}

.sous-sous-menu:hover {
    background-color: rgb(123, 8, 129);;
}

main{
    margin-left: 250px;
	height: 100%;
	width: 70%;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 30px;
	padding: 50px;
	gap: 10px;
	background-color: rgba(55, 55, 55, 0.95);
    color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}