@media screen and (max-width: 1100px) {
    body{
        height:500px;
    }

    .logo{
        width: 25%;
    }

    .logo img{
        width: 100%;
    }

    .test{
        width: 75%;
        padding-top: 3%;
    }

    .page{
        width: 37%;
        padding-top: 20px;
    }

    footer{
        height: 4.3%;
    }
    .boutontheme{
        height: 40px;
        margin-top: 25px;  
    }

    .boutondarkmode,
    .boutonlightmode{
    margin-left: 2.5px;
    margin-top: 27px;
    z-index: 1;
    position: fixed;
    height: 35px;
    }

    .boutondarkmode{
    margin-left: 42px;
    }

    .connection{
    margin-top: 25px;
    margin-left: 10px;
    }
    .connection img{
        height: 40px;
    }
}