@media screen and (max-width: 1100px) {
    main{
        margin-left: 10%;
	    height: 79%;
	    width: 80%;
	    padding: 50px 10px;
        margin-bottom: 50px;
	    gap: 10px;
        font-size: 10px;
    }

    .banner{
        margin-left: 5%;
        width: 90%;
        height: 25%;
    }

    .items{
        padding-right: 120px;
        padding-top: 20px;
    }

    .displaycard{
        padding: 4% 10%;
        width: 500px;
    }

    .displayall{
        padding: 3% -1%;
        width: 500px;
    }

    .displaycardtext{padding: 6% 2%;}

    .displayalltext{padding: 10% 2%;}
}