main{
    margin-left: 10%;
	height: 100%;
	width: 80%;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 30px;
	padding: 50px;
    margin-bottom: 50px;
	gap: 10px;
	background-color: rgba(225, 225, 225, 0.99);
    color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.banner{
    margin-left: 9%;
    width: 80%;
    height: 35%;
}

main p{
    text-align: center;
}

.items{
    display: flex;
}

.displaycard{
    display: flex;
    padding: 4% 10%;
    width: 500px;
}

.displayall{
    display: flex;
    padding: 3% 0%;
    width: 500px;
}

.displaycardtext{padding: 6% 2%;}

.displayalltext{padding: 10% 2%;}

main.darkmode {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(19, 19, 19, 0.87);
    color: rgb(255, 255, 255);
  }